{% extends 'core/layout.html' %}

{% load staticfiles %}
{% load web_filters %}

{% block content %}

    {% if feedback %}
        <h3>You Already Submitted a FeedBack.</h3>

        {% include 'feedback/item.html' %}

    {% else %}

        {% if not user.is_active %}
            <h4>
                You Email needs to be verified before you can be able to submit a feedback.
                Check your email for a verification Link
            </h4>
        {% endif %}

        <h3>Submit FeedBack</h3>
        <form method="post">{% csrf_token %}
            {% for field in form %}
                <div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">Error {{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if field.name == 'rfating' %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <div class="starrr form-control"></div>
                            <span class="helptext">{{ field.help_text }}</span>
                        </div>

                    {% else %}

                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|addclass:'form-control' }}
                            <span class="helptext">{{ field.help_text }}</span>
                        </div>
                    {% endif %}


                </div>
            {% endfor %}

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    {% endif %}


{% endblock %}
