<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ feedback.name.get_username }}</h1>
        </div>
        <div class="col-md-4 text-right"><span class="badge">Posted {{ feedback.updated_at |date }}</span></div>
    </div>

    <p>{{ feedback.comment }}</p>
    <div class="row">


        <div class="col-md-4">
            <div class="rating">

                {% with ''|center:feedback.rating as range %}
                    {% for _ in range %}

                        <span>☆</span>

                    {% endfor %}
                {% endwith %}
            </div>
        </div>

        <div class="col-md-4 text-center">{{ feedback.neighbourhood.name }}</div>
        <div class="col-md-4 text-right">{{ feedback.phone }}</div>
    </div>
    <hr>

</div>
