{% extends 'core/layout.html' %}

{% load staticfiles %}

{% block content %}
    <style>

        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
             color: #060604;
        }

    </style>

    {% if feedbacks.count %}

        <h3>Submitted Feedbacks</h3> <a class="float-right" href="/feedback/export">CSV Export</a>
        <div class="list-group">
            {% for feedback in feedbacks %}

                <a href="{{ feedback.get_absolute_url }}" class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="list-group-item-heading">{{ feedback.name.get_username }}</h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <span>{{ feedback.updated_at |date }}</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="list-group-item-text">{{ feedback.comment }}</p>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-4">
                            <div class="rating">

                                {% with ''|center:feedback.rating as range %}
                                    {% for _ in range %}

                                        <span>☆</span>

                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>


                        <div class="col-md-4 text-center">{{ feedback.neighbourhood.name }}</div>
                        <div class="col-md-4 text-right">{{ feedback.phone }}</div>
                    </div>


                </a>

            {% endfor %}

        </div>

    {% else %}

        <p class="text-center">No Submitted FeedBacks</p>
    {% endif %}

    {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="disabled"><span>Previous</span></li>
            {% endif %}
            <li class="page-item">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </li>


            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="disabled"><span>Next</span></li>
            {% endif %}


        </ul>
    {% endif %}
{% endblock %}
