{% extends 'core/base_auth.html' %}

{% block auth_page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Please confirm your email address to complete the registration and submit your
                    feedback.
                </p>
            </div>
        </div>
    </div>
{% endblock %}