{% extends 'core/base.html' %}

{% load staticfiles %}

{% block app %}

    <!-- Navigation -->
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="padding: 0px">
                    <img src="{% static 'logo.png' %}" alt="logo">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'feedback:feedback-list' %}">
                    <span class="glyphicon glyphicon-inbox"></span> {{ feedback_count }} FeedBacks </a>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.user }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                    </ul>
                </li>


            </ul>
            {% if request.user.is_staff %}
            <form class="navbar-form navbar-right" action="{% url 'feedback:feedback-list' %}" method="get">
                <div class="input-group">
                    <input type="text"
                           name="q"
                           class="form-control"
                           {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}
                           placeholder="Search Feedbacks">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}

        </div>
    </nav>
</div>

    <!-- Page Content -->
    <div class="container" >
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.container -->
{% endblock %}