{% extends 'core/base_auth.html' %}
{% load web_filters %}

{% block auth_page %}

    <div class="row" >
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Enter Registered Email Address </h3>
                </div>
                <div class="panel-body">
                    {% if form.errors %}
                        <p>{{ form.errors }}</p>
                    {% endif %}

                    <form role="form" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p>{{ form.errors }}</p>
                        {% endif %}

                        {% for field in form %}
                            <div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p style="color: red">Error {{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field|addclass:'form-control' }}
                                    <span class="helptext">{{ field.help_text }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>

                    </form>
                    <a class="" href="/login/">Login</a>

                </div>
            </div>
        </div>
    </div>





{% endblock %}