{% extends 'core/base_auth.html' %}

{% block auth_page %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Your password has been set.</h3>
                </div>
                <div class="panel-body">
                <p>
                    You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                </p>
           </div>
            </div>
        </div>
    </div>
{% endblock %}