{% extends 'core/base_auth.html' %}
{% load web_filters %}

{% block  auth_page%}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Change password </h3>
                </div>
                <div class="panel-body">
                {% if validlink %}

                    <form class="form-type-material" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                            <p>{{ form.errors }}</p>
                        {% endif %}

                        {% for field in form %}
                            <div>
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p style="color: red">Error {{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field|addclass:'form-control' }}
                                    <span class="helptext">{{ field.help_text|safe }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn btn-bold btn-block btn-primary" type="submit">Change password</button>
                        </div>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}