{% extends 'core/base_auth.html' %}

{% block auth_page %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Password Reset </h3>
                </div>
                <div class="panel-body">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email
                        you
                        entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>

                    <a class="" href="/login/">Login</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}